src/bin/Debug/net5.0/
src/obj/
src/token.txt
src/sql_connection_string.txt
src/admin_id.txt
src/lavalink_pass.txt
src/bin
src/Lavalink

.vscode/
vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
