src/bin/Debug/net5.0/
src/obj/
src/token.txt
src/sql_connection_string.txt
src/bin

.vscode/
vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
