src/bin/Debug/net5.0/
src/obj/
src/bin
src/Lavalink
src/appsettings.json

.vscode/
vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
